<h1 mat-dialog-title>Disponibilité</h1>

<form [formGroup] = "availabilityForm" (ngSubmit) = "onSubmit()" *ngIf = "availabilityForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-select placeholder = "Poste" formControlName = "role" color = "primary">
        <mat-option value = "Attaque">Attaque</mat-option>
        <mat-option value = "Central">Central</mat-option>
        <mat-option value = "Passe">Passe</mat-option>
        <mat-option value = "Au choix">Au choix</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder = "Disponibilité" formControlName = "availability" color = "primary">
        <mat-option value = "Disponible">Disponible</mat-option>
        <mat-option value = "Disponible si besoin">Disponible si besoin</mat-option>
        <mat-option value = "Non disponible">Non disponible</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class = "flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color = "primary">Retour</button>
    <button mat-raised-button color = "primary" type = "submit">Valider</button>
  </mat-dialog-actions>
</form>