<div class="container"
  fxLayout="column"
  fxLayoutAlign.gt-md="start stretch"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">

  <table class="mat-elevation-z8 presence-table" *ngIf = "trainingPresences">
    <thead>
      <tr>
        <th></th>
        <th *ngFor = "let player of players">{{player.firstname}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let training of trainingPresences.trainings">
        <td class = "table-label-col">{{training.label}}</td>
        <td *ngFor = "let player of players" class = "table-player-col" [ngClass]="{
          'is-present': training.presences[player.firstname] && training.presences[player.firstname].presenceType === 'Présent',
          'is-absent': training.presences[player.firstname] && training.presences[player.firstname].presenceType === 'Absent'
        }">{{training.presences[player.firstname] && training.presences[player.firstname].presenceType}}</td>
      </tr>
    </tbody>
  </table>

  <div fxFlex fxLayout = "row" fxLayoutAlign = "space-evenly">
    <button mat-raised-button (click) = "openAddTrainingModal()">Ajouter un Entraînement</button>
    <button mat-raised-button (click) = "openDeleteTrainingModal()">Retirer un Entraînement</button>
  </div>
</div>
