.map-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border-radius: 5px;
  border: 2px solid #424242;
  height: 400px;
}

#map {
  height: 100%;
}

table {
  width: 100%;
}

.mat-table{
  background-color:white;
  .mat-header-cell {
    color: #3e3f3a;
    border-bottom: 2px solid #424242;
    font-weight: bold;
    font-size: medium;
  }
  .mat-cell {
    color: #3e3f3a;
  }
  tr.is-selected {
    background-color: #00900021;
  }
  tr.is-not-selected {
    background-color: #90000021;
  }
  .mat-row:hover {
    background-color: #F0F0F0;
  }

  .role-grey {
    color: rgb(187, 187, 187);
  }
  .role-blue {
    color: rgb(117, 112, 179);
  }
  .role-green {
    color: rgb(27, 158, 119);
  }
  .role-orange {
    color: rgb(217, 95, 2);
  }
}