/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

// Some basic resets
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 20px;
    display: flex;
}

.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.highlight {
  background-color: $background-pale;
  border: 1px solid $primary-color-dark;
  z-index: 1;
  transform: scale(1.01);
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-grey, 800);
$candy-app-accent:  mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.mat-card {
  background-color: white;
  color:  #495057;
  .mat-card-content {
    font-size: 18px;
  };
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  border-top: 1px solid $lt-gray;
  padding: 10px;
}

.mat-tab-label {
  color: #495057;
  font-size: 20px;
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-top: 1px solid $lt-gray;
  margin-bottom: -1px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.address {
  color: #93c54b;
}

.mat-dialog-container {
  .mat-select-value {
    color: $primary-text-color;
  }
  background-color: #FFFFFF;
  color: $primary-text-color;
}

.mat-select-content {
  .mat-option {
    background-color: #FFFFFF;
    color: $primary-text-color;
  }
  .mat-option:hover:not(.mat-option-disabled) {
    background-color: #FFFFFFD0;
  }
  .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #FFFFFFC0;
  }
}


@import "~leaflet/dist/leaflet.css";